﻿@{
    ViewData["Title"] = "About Us";
}



<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #E1B433;
        margin-bottom: 22px;
    }

    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    p {
        color: #666;
        line-height: 1.5;
    }
</style>
<body>
    <div class="container">
        <center>  <h1>About Us</h1></center>
        <p>
            KhumaloCraft Emporium is a global e-commerce platform dedicated to showcasing the finest handcrafted products from artisans around the world. We believe in preserving traditional craftsmanship and promoting cultural heritage through our curated collection of unique and exquisite products.
        </p>
        <p>
            Our mission is to connect these talented artisans with a global audience, providing them with a platform to share their stories and showcase their skills. We are committed to promoting fair trade practices and supporting sustainable artisan communities.
        </p>
        <br>
        <br>

    </div>
</body>