@{
    ViewData["Title"] = "Contact Us";
}
<center><h1>@ViewData["Title"]</h1></center>


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #E1B433;
        margin-bottom: 22px;
    }
    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    p {
        color: #666;
        line-height: 1.5;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }
</style>

<div class="container">
    
    <p>
        If you have any questions, feedback, or inquiries, please feel free to contact us using the information below:
    </p>
    <ul>
        <li>Email: info@example.com</li>
        <li>Phone: +27 00 000 0000</li>
        <li>Address: 123 Example Street, South Africa, World</li>
    </ul>
    <p>
        You can also reach out to us on social media:
    </p>
    <ul>
        <li>Facebook: <a href="https://www.facebook.com/khumalocraft">Khumalo</a></li>
        <li>Twitter: <a href="https://www.twitter.com/khumalocraft">KhumaloCraft</a></li>
        <li>Instagram: <a href="https://www.instagram.com/khumalocraft">KhumaloCraft</a></li>
    </ul>
    <br>
    <br>

</div>


