@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #E1B433;
        margin-bottom: 22px;
    }

    p {
        color: #666;
        line-height: 1.5;
    }

    .hero {
        background-image: url('lib/images/back.jpg');
        background-size: cover;
        background-position: center;
        height: 300px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 20px;
    }

        .hero h1 {
            color: #fff;
            font-size: 36px;
            text-align: center;
            padding-top: 100px;
            margin: 0;
        }
</style>
<body>
<div class="container">
    <div class="hero">
        <h1>Welcome to KhumaloCraft Emporium</h1>
    </div>
    <h2>Discover  Handcrafted Products</h2>
    <p>
        KhumaloCraft Emporium offers a unique collection of handcrafted products from artisans around the world. Explore our catalog to find the perfect piece that reflects your style and supports traditional craftsmanship.
    </p>
    <p>
        Each product in our collection is carefully curated to ensure quality and authenticity. By shopping with us, you are not only acquiring a beautiful piece but also supporting artisan communities and preserving cultural heritage.
    </p>
        <br>

        <div class="text-center">

            <p>You have to login<a href="https://localhost:7264/Home/login">Login</a> to place an order.</p>
        </div><br><br>
</div>
</body>